/* ====== Estilo Global ====== */
body {
  margin: 0;
  padding: 0;
}

/* ====== Navbar ====== */
/* Animação nos links da navbar */
.navbar .nav-link {
  position: relative;
  color: #000; /* cor padrão */
  transition: color 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* distância da linha */
  width: 0%;
  height: 2px;
  background-color: #2ecc71; /* verde */
  transition: width 0.3s ease;
}

.navbar .nav-link:hover {
  color: #2ecc71; /* texto fica verde */
}



.navbar-nav .nav-link:hover {
    color: #27ae60 !important; /* Sua cor verde ao passar o mouse */
    border-bottom-color: #27ae60; /* Mostra a borda inferior */
}

/* Estilo do link da página ativa */
.navbar-nav .nav-link.active {
    color: #27ae60 !important;
    font-weight: 700;
    border-bottom-color: #27ae60;
}
.navbar-nav .nav-link {
    border-bottom: 2px solid transparent; /* Borda inferior transparente por padrão */
    transition: border-bottom-color 0.3s; /* Transição suave para a borda */
}

/* ====== Botão de Login ====== */
/* Botão de login */
.btn-login {
  background-color: #198754;
  color: #fff !important;
  border-radius: 6px; /* deixa quadradinho */
  padding: 6px 16px;    
}


/* ====== Páginas de Login e Cadastro ====== */
.auth-page {
  background-color: #333;
  color: white;
  text-align: center;
  min-height: 100vh;
}
.auth-page .navbar {
  display: none;
}

